<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="22r2avG0mEPqhYDyIkYztIVfQW1gPU2+YIfFYjwoLXLkjPCRYV6TMzt6Ljt2yU1xYRZHdkhenUyI3gLPfgoXXQ==">
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <p>
      <strong>Title:</strong>
      " 122 "
    </p>
    <p>
      <strong>Body:</strong>
      " 123 "
    </p>
    <%= link_to "Edit" ,edit_book_path(@book.id) %>

     |
    <%= link_to "Back",books_path %>

  </body>
</html>